// COLORS
$primary: #16c2a3;
$secondary: #4b4b4d;

// CONTAINER
$containerWidth: 1200px;
$containerPadding: 20px;

// BREAKPOINTS
$breakpoint320: 320 + px;
$breakpoint480: 480 + px;
$breakpoint600: 600 + px;
$breakpoint768: 768 + px;
$breakpoint900: 900 + px;
$breakpoint992: 992 + px;
